*.swp
*.swp
.ipynb-checkpoints
notebooks/.ipynb-checkpoints
GenLinAlgProblems/.ipynb-checkpoints
GenLinAlgProblems/notebooks/.ipynb-checkpoints
tmp
notebooks/tmp
GenLinAlgProblems/tmp
GenLinAlgProblems/notebooks/tmp
