*.swp
*/*.swp
.ipynb-checkpoints/
.ipynb-checkpoints/*
*/.ipynb-checkpoints/
*/.ipynb-checkpoints/*
.buildx-cache/
GenLinAlgProblems/notebooks/.ipynb_checkpoints/
GenLinAlgProblems/src/.ipynb_checkpoints/
binder/test_image.sh
notebooks/.ipynb_checkpoints/
tmp
work
notebooks/tmp
GenLinAlgProblems/tmp
GenLinAlgProblems/Manifest.toml
GenLinAlgProblems/notebooks/tmp
GenLinAlgProblems/notebooks/.ipynb-checkpoints
Notes/.obsidian
MISC/
othermaterial
.julia/
.CondaPkg/
.pixi/
artifacts/
__pycache__/
